Options -Indexes
<FilesMatch "\.(php|php5|php7|php8|phtml|phar|sh|pl|cgi|exe)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
